aiofiles	
aiogram	
aiohappyeyeballs	
aiohttp	
aiosignal	
annotated-types	
attrs	
certifi	
frozenlist	
idna	
magic-filter	
multidict	
pip	
propcache	
pydantic	
pydantic_core	
python-dotenv	
typing_extensions	
yarl	