APScheduler
telethon
Telethon
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
asyncpg
attrs
beautifulsoup4
certifi
charset-normalizer
colorama
fake-useragent
frozenlist
idna
magic-filter
multidict
pillow
pip
propcache
psutil
pyTelegramBotAPI
pyaes
pyasn1
pydantic
pydantic_core
python-dotenv
requests
requests-toolbelt
rsa
soupsieve
typing_extensions
tzdata
tzlocal
urllib3
yarl